@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  background: #dcd4b0;
  width: 80%;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
}

.header {
  overflow: hidden;
  color: #f8f5e6;
  font-family: "Alegreya", serif;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #9d956a;
}

.header h1 {
  font-size: 40px;
}

.header i {
  font-size: 25px;
  padding: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.searchbox {
  padding: 10px 10px;
  border: 2px solid #bfb699;
  box-shadow: 0px 3px 0 #bfb699;
  background-color: #f0f0f0;
  outline: none;
  font-size: 20px;
}

/* cardList styles #dcd4b0*/
.cardList {
  background: #dcd4b0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 100px;
  padding-top: 30px;
}

/* card styles #dcd4b0*/
.card {
  font-family: "Poppins", sans-serif;
  height: 180px;
  min-width: 150px;
  background: none;
  font-size: 13px;
  border: 1px solid #9d956a;
}

.card:hover {
  cursor: pointer;
  background: #ede19d;
}

.cardValue {
  margin: auto;
  margin-top: 5px;
  max-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
}

.card .cardName {
  visibility: hidden;
  width: 150;
  font-size: 20px;
  background-color: #ecf0d9;
  border: 1px solid brown;
  color: black;
  text-align: center;
  padding: 10px 10px;
  position: absolute;
  margin-left: -180px;
  margin-top: -10px;
  z-index: 1;
  transform: rotate(-30deg);
}

.card:hover .cardName {
  visibility: visible;
}

button {
  color: #f8f5e6;
  font-size: 30px;
  background-color: #22515c;
  border: 1px solid #00333e;
  box-shadow: 0px 3px 0 #00333e;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: auto;
  outline: none;
  margin-top: 10px;
}

button:hover {
  background-color: #2f8888;
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
  cursor: pointer;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcd4b0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8f5e6;
}

.footer {
  font-family: "Poppins", sans-serif;
  background: rgb(248, 245, 230);
  width: 90%;
}

@media only screen and (max-width: 1000px) {
  .app {
    max-width: 100%;
    width: 100vw;
  }

  .header {
    height: 20%;
  }

  .header h1 {
    display: none;
  }

  .searchbox {
    font-size: 30px;
    margin-top: 15px;
  }

  button {
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin-bottom: ;
  }

  .card {
    width: 25%;
  }
}

@media only screen and (max-width: 430px) {
  .card {
    max-width: 25%;
    min-width: 125px;
    word-wrap: normal;
  }
  .buttonContainer {
    width: 100vw;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 720px) {
  .buttonContainer {
    width: 50vw;
    justify-content: space-between;
  }
}
