* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-size: 90px 90px;
  background-color: #245561;
  background-image: linear-gradient(
    -45deg,
    #22515c 25%,
    transparent 25%,
    transparent 50%,
    #22515c 50%,
    #22515c 75%,
    transparent 75%,
    transparent
  );
  animation: bgStripe 4s infinite linear;
}

@keyframes bgStripe {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 90px;
  }
}
